<!DOCTYPE html>
<html>
	<head>
		<title>Learn</title>
	</head>

	<body>
		<h1> Welcome {{ username }} to the server Learn. </h1> 
		<form action="/"> 
			<input type="submit" value="Close">
		</form>
	</body>
</html>
